name: Metrics

on:
  schedule:
    - cron: "0 * * * *"  # Runs every hour
  workflow_dispatch:      # Allows manual trigger
  push:
    branches: ["master"]  # Runs on push to master

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required to commit the generated SVG

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.LCToken }}

          # Base configuration
          config_timezone: Asia/Kolkata
          config_display: large
          base_indepth: yes
          base_hireable: yes

          # GitHub plugins
          plugin_traffic: yes
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_timestamps: yes
          plugin_activity_days: 0
          plugin_activity_filter: all
          plugin_activity_visibility: public
          plugin_habits: yes
          plugin_habits_days: 30
          plugin_languages: yes
          plugin_languages_other: yes
          plugin_languages_sections: most-used
          plugin_reactions: yes
          plugin_reactions_display: relative
          plugin_stargazers: yes
          plugin_lines: yes

          # LeetCode plugin
          plugin_leetcode: yes
          plugin_leetcode_user: Krishna_Revanth_Karra
